<footer class="bd-footer bg-body-tertiary">
  <div class="d-flex text-body-secondary">
    <div class="row">
		<div class="col-6 text-center">
			<p class="m-2 p-2" >Stuff here</p>
		</div>
		<div class="col-6">
			<p class="m-2 p-2 test-center">Here too</p>
		</div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>

	</div>
  </div>
</footer>