<% layout('layouts/boilerplate') %>
<div class="container-fluid">
  <div class="row">
    <div class="col-3"></div>
    <div class="col">
      <form class="form" action="/guests/comment/edit" method="POST">
        <div class="row">
          <div class="col">
            <label for="commentTitle" class="form-label">Title: </label>
          </div>
          <div class="col">
            <input type="text" class="form-control" id="commentTitle" name="commentTitle" placeholder="commentTitle" value="<%= c.commentTitle %>">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <label for="comment" class="form-label">Comment: </label>
          </div>
          <div class="col">
            <input type="text" class="form-control" id="comment" name="comment" placeholder="comment" value="<%= c.comment %>">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input type="text" class="form-control hidden" id="guest" name="guest" placeholder="guest" value="<%= g._id %>" >
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" clss="btn btn-secondary">Edit Comment</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
